.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E0FFFF;
    padding: 0 2%;
    border-bottom: 1px solid #ADD8E6;
}
.navbar_logo {
    width: 48px;
    padding: 5px;
}
.navbar_logo2{
    width: 40px;
    float: right;
    margin: 10px 10px;
    border-radius: 38%;
    cursor: pointer;
}
.right{
    float: right;
    display: flex;
    align-items: center;
    margin: 10 0px;
}
